{% extends 'main.html' %} {% load static %} {% block content %}


<div class="modal fade modal-backdrop-bg" id="quizStartModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Start the quiz?</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body" id="modal-body-confirm">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-bs-dismiss="modal">NO</button>
                <button type="button" id="start-button" class="btn btn-primary ">Yes</button>
            </div>
        </div>
    </div>
</div>


<br>
<div class='para'>
    <h1> IOE</h1>
    <br>
    
   
    <div class="anything"> Institute of Engineering (IOE) is an organization that falls under TU that conducts entrance examination where only those candidate who passes the entrance examination are deemed eligible for the admission. According to the rank of these candidates
        in the examination, it is decided the selection of TU engineering colleges that one can apply for. The following are the list of governmental engineering colleges that offers full( only some thousand rupees throughout the 4 year Bachelors course)
        and partial (3 lakh rupees throughout the 4 years Bachelors Course):
        <ul>
            <li>1. Paschimanchal Campus
            </li>
            <li>2. Purwanchal Campus: Institute of Engineering
            </li>
            <li>3. Thapathali Campus: Institute of Engineering
            </li>
            <li>4. Pulchowk Campus, Institute of Engineering (IOE)
            </li>
        </ul>
    </div>
</div>
<!-- <hr class="mb-1" style="height:2px;border-width:0;color:gray;background-color:gray"> -->

</div>





<h1 style='text-align:center'>IOE Mock list</h1>

<div class="wrapper">
    {% for obj in mock %}
    <a href="{% url 'ioe_quizlist' obj.id %}">{{obj.text}}</a> {% endfor %}

</div>
<div class='anything'><span class='h4'>With this practice, </span> students can eventuallly gain confidence in the subject material and hence some sense of accomplishment. Also, share your progress through the interactive graph. Some other benefits of attempting these tests
    are:
    <br>
    </br>
    <ul>

        <li>Assurace in the specific tests practiced.</li>
        <li>A valuable online experience in online test taking as the final exam is also online. </li>
        <li> Free of cost for as long as the trial period continues.</li>
        <li>Can share with friends and discuss the same sets of questions and eventually master them.</li>
        <li>Overall more grounding of the MCQS taking this as a supplement to the physical classes study.</li>
    </ul>
</div>

{% endblock %}