{% extends 'main.html' %} {% load static %}


<!-- {% block scripts %}
     <script src = "{% static 'main.js' %}" defer>
</script>
{% endblock scripts %} -->

{% block title %} home {% endblock title %} {% block content %}

<div class="modal fade modal-backdrop-bg" id="quizStartModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Start the quiz?</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body" id="modal-body-confirm">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-bs-dismiss="modal">NO</button>
                <button type="button" id="start-button" class="btn btn-primary ">Yes</button>
            </div>
        </div>
    </div>
</div>
</div>
<div class='header1'>
    Course Question Categories</div>



<div class="wrapper">
    {% for obj in quiz %}
    <button class="btn btn-link modal-button" data-pk="{{obj.pk}}" data-quiz="{{obj.name}}" data-questions="{{obj.number_of_questions}}" data-difficulty="{{obj.difficulty}}" data-time="{{obj.time}}" data-pass="{{obj.required_score_to_pass}}" data-bs-target="#quizStartModal"
        data-bs-toggle="modal">
  
  <div>{{obj.name}}</div>

</button> {% endfor %}
</div>



</div>
<div class='para'>
    <h1> IOE</h1>

   
    <div class="anything"> Institute of Engineering (IOE) is an organization that falls under TU that conducts entrance examination where only those candidate who passes the entrance examination are deemed eligible for the admission. According to the rank of these candidates
        in the examination, it is decided the selection of TU engineering colleges that one can apply for. The following is the list of the subjects with their respectives marks distribution:
        <ul>
            <li> Physics : 45
            </li>
            <li> Chemistry : 25
            </li>
            <li> Maths: 50
            </li>
            <li> English: 20
            </li>
        </ul>
    </div>
</div>
<link rel="stylesheet" href="{% static 'styles.css' %}"> {% block script %}

<script src="{% static 'main.js' %}">
</script>
{% endblock %} {% endblock %}