{% extends 'main.html' %} {% load static %} {% block content %}
<style>
  body{
    background-color: white;
  }
</style>
<br>
<span style="color:rgb(2, 71, 71);font-weight:bold;font-size:1.4rem; margin-left:120px;">These are the individual subject progress graphs of {{ request.user.username }} in IOM section. </span>

<br>
<br>
<span style="color:rgb(2, 71, 71);font-weight:bold;font-size:1.4rem; margin-left:120px;"> X axis is the number of attempts and y axis is the score out of 100.  </span>

<div class="chart-container">
    <canvas id="myChart5"></canvas>
    <canvas id="myChart6"></canvas>
    <canvas id="myChart8"></canvas>
  <canvas id="myChart7"></canvas>
    
    




</div>
<br>
<br>
<br>



{% block script %}

<script src="{% static 'chartIOM.js' %}">
</script>
{% endblock %} {% endblock %}