{% extends 'main.html' %} {% load static %}


<!-- {% block scripts %}
     <script src = "{% static 'main.js' %}" defer>
</script>
{% endblock scripts %} -->

{% block title %} home {% endblock title %} {% block content %}

<div class="modal fade modal-backdrop-bg" id="quizStartModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Start the quiz?</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body" id="modal-body-confirm">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-bs-dismiss="modal">NO</button>
                <button type="button" id="start-button" class="btn btn-primary ">Yes</button>
            </div>
        </div>
    </div>
</div>
</div>
<div class='header1'>
    Course Question Categories</div>



<div class="wrapper">
    {% for obj in quiz %}
    <button class="btn btn-link modal-button" data-pk="{{obj.pk}}" data-quiz="{{obj.name}}" data-questions="{{obj.number_of_questions}}" data-difficulty="{{obj.difficulty}}" data-time="{{obj.time}}" data-pass="{{obj.required_score_to_pass}}" data-bs-target="#quizStartModal"
        data-bs-toggle="modal">
  
  <div>{{obj.name}}</div>

</button> {% endfor %}
</div>



</div>
<div class='para'>
    <h1> Random</h1>

    <div class="anything">Random General knowledge quiz is good for mood because of the following reasons!
        <ul>
            <li>1.Lower Stress
            </li>
            <li>2. INcreased knowledge for you to brag in front of your friends.
            </li>
            <li>3. You can get a better understanding of the world.
            </li>
            <li>4. You can get a better understanding of the world even better.
            </li>
        </ul>
    </div>
</div>

<link rel="stylesheet" href="{% static 'styles.css' %}"> {% block script %}
<style>
    body{
        background-color:rgb(173, 204, 245);;
    }
</style>
<script src="{% static 'main.js' %}">
</script>
{% endblock %} {% endblock %}