


{% extends 'main.html' %}
{% load static %}
{% block content %}
<div id="services" class="row me-5 ms-5">
    <div class="col-4">
    <a href="{% url 'reading_material' %}">
      <img id="img1" onmouseover="document.getElementById('img1').style.opacity='0.8'" 
        onmouseout="document.getElementById('img1').style.opacity='1'"
        src="{% static 'reading_materials.png' %}" width='100%' class="p-4 border border-dark border-2 rounded-end"/>
    </a>
    </div>
    <div class="col-4">
    <a href="{% url 'mock_test' %}">
      <img id="img2" onmouseover="document.getElementById('img2').style.opacity='0.8'" 
        onmouseout="document.getElementById('img2').style.opacity='1'" 
        src="{% static 'mock_test.png' %}" width='100%' class="p-4 border border-dark border-2 rounded"/>
      </a>
    </div>
    <div class="col-4">
    <a href="{% url 'progress_chart' 1 %}">
      <img id="img3" onmouseover="document.getElementById('img3').style.opacity='0.8'" 
        onmouseout="document.getElementById('img3').style.opacity='1'" 
        src="{% static 'progressiveness_evaluation.png' %}" width='100%' class="p-4 border border-dark border-2 rounded-start"/>
    </a>
    </div>
  </div>
  <style>
    #services{
      padding-top: 100px;
    }
  </style>
  {% endblock %}